{% extends 'FrontendBundle::layout.html.twig' %}

{% set exception = exceptions[0] %}
{% set data = exception.exceptionData %}

{% block title %}Výjímka {{ data['class'] }}{% endblock %}

{% block parent_content %}
<h2>Projekt XY</h2>

<p>Detaily projektu</p>
{% endblock %}

{% block body %}
<h1>{{ data['class'] }} ({{ data['code'] }})</h1>
<h2>Naposledy zalogována {{ exception.receivedAt|date("j. n. Y, H:i:s") }}</h2>
<table id="excDetails">
    <tr>
        <th>Message</th>
        <td>{{ data['message'] }}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{ data['file'] }} at line {{ data['line'] }}</td>
    </tr>
    <tr>
        <th>Trace</th>
        <td>
            {% for trace in data['trace'] %}
            <pre>{{ trace }}</pre>
            {% endfor %}
        </td>
    </tr>
</table>

<h2>Všechny výskyty výjimky</h2>
<table id="excInstances">
    {% for e in exceptions %}
    <tr><td>{{ e.receivedAt|date("j. n. Y, H:i:s")}}</td></tr>
    {% endfor %}
</table>
{% endblock %}