{% extends 'FrontendBundle::layout.html.twig' %}

{% set exception = exceptions[0] %}
{% set data = exception.exceptionData %}

{% block title %}Výjímka {{ data['class'] }}{% endblock %}

{% block parent_content %}
<h2>Projekt FastGSM</h2>
<p>
<a href="{{ path('list_exceptions') }}">Zpět na seznam výjimek</a>
</p>
<p>Detaily projektu</p>
{% endblock %}

{% block body %}
<h1>{{ data['class']|abbr_class }} ({{ data['code'] }})</h1>

<p>
in <em>{{ data['file']|format_file_from_text }}</em> at line <em>{{ data['line'] }}</em>
</p>

<p id="laslLoggedAt">Naposledy zalogována {{ exception.receivedAt|date("j. n. Y, H:i:s") }}</p>

<div id="excDetails">
    <div>
        <h3>Message</h3>
        {{ data['message']|replace({"\n": '<br />'})|format_file_from_text }}
    </div>

    <div>
        <h3>Trace</h3>
        <div id="excTrace">
            {% for trace in data['trace'] %}

            <p{{ loop.first ? ' class="f"' : "" }}>{{loop.index}}.{% if trace['class'] is defined and trace['type'] is defined %}<strong>{{ trace['class']|abbr_class}}</strong>{{ trace['type']}}{% endif %}<strong>{{ trace['function']}}</strong>({{ trace['args'] }})</p>
            {% if trace.file is defined and trace.line is defined %}
                in <em>{{ trace.file|format_file(trace.line) }}</em>
            {% endif %}
            
            {% endfor %}
        </div>
    </div>
    <div class="collapsible">
        <h3><a href="">$_GET</a></h3>
        <div>
        <pre>{{ exception.sgGet|var_export }}</pre>
        </div>
    </div>
    <div class="collapsible">
        <h3><a href="">$_POST</a></h3>
        <div>
        <pre>{{ exception.sgPost|var_export }}</pre>
        </div>
    </div>
    <div class="collapsible">
        <h3><a href="">$_SESSION</a></h3>
        <div>
        <pre>{{ exception.sgSession|var_export }}</pre>
        </div>
    </div>
    <div class="collapsible">
        <h3><a href="">$_SERVER</a></h3>
        <div>
        <pre>{{ exception.sgServer|var_export }}</pre>
        </div>
    </div>
</div>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
           $("div.collapsible").children("div").slideToggle("fast");
           
           $("div.collapsible h3 a").click(function(e) {
               $(this).parents("h3").siblings("div").slideToggle("fast");
               e.preventDefault();
           })
        });
    </script>
<h2>Všechny výskyty výjimky</h2>
<table id="excInstances">
    {% for e in exceptions %}
    <tr><td>{{ e.receivedAt|date("j. n. Y, H:i:s")}}</td></tr>
    {% endfor %}
</table>
{% endblock %}