{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %} Výjimky {% endblock %}

{% block parent_content %}
<h2>Projekty</h2>
<ul id="projMenu">
    <li><a href="#">FastGSM</a></li>
</ul>
{% endblock %}  

{% block body %}
<h1>Seznam všech výjimek</h1>
<table>
  <tr>
    <th>Message &amp; Location</th>
    <th>Datum</th>
    <th>Celkem zaznamenáno</th>
  </tr>
  {% for exceptionArr in list %}
  {% set exception = exceptionArr[0] %}
  <tr class="{{ cycle(['', 'sc'], loop.index) }}">
    <td>
      <strong><a href="{{ path('exception', {'signature': exception.signature} ) }}">{{ exception.exceptionData['class'] }}</a></strong>: "{{ exception.exceptionData['message'] }}"<br/>
      <span class="path">
        v souboru <em>{{ exception.exceptionData['file'] }} řádek {{ exception.exceptionData['line'] }}</em>
      </span>
    </td>

    <td>{{ exception.receivedAt|date("j. n. Y, H:i:s") }}</td>
    <td>{{ exceptionArr['times'] }} &times;</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}