{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %} Výjimky {% endblock %}

{% block parent_content %}
<h2>Projekty</h2>
<ul id="projMenu">
    <li><a href="#">FastGSM</a></li>
</ul>
{% endblock %}  

{% block body %}
<h1>Seznam všech výjimek</h1>
<table>
  <tr>
    <th>Message &amp; Location</th>
    <th>Date</th>
  </tr>
  {% for exception in list %}
  <tr class="{{ cycle(['', 'sc'], loop.index) }}">
    <td>
      <a href="{{ path('exception', {'id': exception.id} ) }}">{{ exception.exceptionData['class'] }}</a>: "{{ exception.exceptionData['message'] }}"<br/>
      <span class="path">
        {{ exception.exceptionData['file'] }}#{{ exception.exceptionData['line'] }}
      </span>
    </td>

    <td>{{ exception.receivedAt|date("j. n. Y, H:i:s") }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}